body {
	font-family: verdana;
	margin: 0;
	padding: 0;
}

h2, h3 {
	color: red
}

footer {
    padding: 30px;
    color: yellow;
    background-color: red;
	text-align: center;
	font-weight: bold;
}

nav a {
	font-size: 19px;
	font-weight: 450;
	text-decoration: none;
	color: red;
}

nav {
    background-color:yellow;
    padding: 5px;
	position: sticky;
	top: 0;
}

header {
	display: inline;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
   text-align: center;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	background-color:#ffe11c;
}

.jumbotron {	
    font-size: 20px;
    padding: 50px;
	background-color: red;
    text-align: center;
    color: white;
}

nav li {
	display: inline;
    list-style-type: none;
    margin-right: 20px;
}

main {
	padding: 20px;
	overflow: auto;
}

#content {
	float: left;
	width: 75%;
}

aside {
    float: right;
    width: 25%;
	padding-left: 15px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
		padding: 0;
	}
}